.services {
    background-color: var(--black);
    padding: 10vw;
}

.services h2 {
    background: linear-gradient(#A7F4B4, #4497A0);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;  
    margin-bottom: 2rem;
}

.servicesflex {
    width: 60vw;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    gap: 2rem;
    justify-content: center;
}

.servicesgrid {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.servicescard {
    width: 25rem;
    height: 17rem;
    position: relative;
    overflow: hidden;
    background-color: var(--light-green);
    border-radius: 24px;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    font-size: 1.2rem;
    transition: 'height 400ms ease-in forwards';
    cursor: pointer;
}


.servicesflex>.servicesgrid:first-child>.servicescard:last-child, .servicesflex>.servicesgrid:last-child>.servicescard:first-child {
    background-color: var(--light-purple);
}



.servicescard h3 {
    margin-bottom: 1rem;
}

.cardimg {
    height: 12vw;
    align-self: flex-end;
    position: absolute;
    bottom: -1rem; 
    right: -1rem;
    z-index: 0;
}

.servicesflex>.servicesgrid:first-child>.servicescard:first-child .cardimg{
    height: 10vw;

}

.servicescard span {
    font-size: 1rem;
    position: relative;
    z-index: 1;
}

.cardtext>p {
    margin: 2rem 0;
    font-size: 1rem;
    position: relative;
    z-index: 100;
}

.cardtext {
    opacity: 0;
    height: none;
    z-index: 100;
}

.plusicon {
   position: absolute;
   bottom: 1rem;
   left: 1rem;
   width: 4vw;
}

/*GRID ANIMATION*/

@keyframes expand {
    from {
        height: 17rem;
        
    }
    to {
        height: 30rem;
    }  
}

@keyframes shrink {
    from {
        height: 30vw;
    }
    to {
        height: 15vw;
    }
}



/*EXPAND AND SHRINK*/

.servicescard.open {
    animation: expand 400ms ease-in forwards;
}

.servicescard:first-child.open ~ .servicescard:last-child {
    animation: shrink 400ms ease-in forwards;
}


.servicescard:first-child:has(~ .servicescard:last-child.open) {
    animation: shrink 400ms ease-in forwards;
}

/* IMG AND TEXT ANIMATIONS */

@keyframes imgmove {
    from {
        bottom: -1rem; 
        right: -1rem;
        transform: translateX(0%)
    }
    to {
        bottom: 0rem;
        right: 50%;
        transform: translateX(50%);
        margin-inline: auto;
    }
}

@keyframes imgdisappear {
    from {
        opacity: 1;
    }

    to {
        opacity: 0;
    }
    
}

@keyframes textappear {
    from {
        height: none;
        opacity: 0;
    }

    to {
        height: auto;
        opacity: 1;
    }
    
}


.servicescard.open .cardimg {
    animation: imgmove 400ms ease-in forwards;
}

.servicescard.open .cardtext {
    animation: textappear 400ms ease-in forwards;
}

.servicescard:first-child.open ~ .servicescard:last-child img,
.servicescard:first-child:has(~ .servicescard:last-child.open) img {
    animation: imgdisappear 400ms ease-in forwards;

}


@media screen and (max-width: 900px) {
    .plusicon {
        display: block;
        position: absolute;
        top: 0.2rem;
        right: 0.2rem;
        width: 15vw;
        opacity: 0.8;
        z-index: 5;
    }

    .servicescard:hover .cardtext, .servicescard:hover img, .servicescard:first-child:hover ~ .servicescard:last-child img,
    .servicescard:first-child:has(~ .servicescard:last-child:hover) img,
    .servicescard:first-child:has(~ .servicescard:last-child:hover),
    .servicescard:first-child:hover ~ .servicescard:last-child,
    .servicescard:hover {
        animation: none;
      }

    .services {
        padding: 10vw 0;
    }

    .servicesflex {
        flex-direction: column;
        width: 90vw;
    }

    .servicescard {
        width: 100vw;
        height: auto;
        transition: height 300ms ease-in-out forwards;
    }

    .cardimg, .servicesflex>.servicesgrid:first-child>.servicescard:first-child .cardimg{
        height: 14vh;
    
    }

    .servicescard>div>span {
        z-index: 100;
        position: relative;
        font-weight: 500;
    }

    .cardtext {
        height: auto;
        opacity: 1;
        position: relative;
        z-index: 10;
    }

    .servicesflex>.servicesgrid:last-child {
        flex-direction: column-reverse;
    }

    
}




