
@font-face {
    font-family: 'aqua';
    src: url(../../assets/fonts/aqua.ttf);
}

.parallaxdiv {
    height: 1024px;
    width: 1440px;
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: center;
}

.parallaxtitle {
    font-family: 'aqua', sans-serif;
    margin-top: 20vh;
    color: white;
    font-weight: bold;
    position: relative;
    z-index: 50;
}

.imagefull {
    position: absolute;
    margin: 0;
    z-index: 0;
    background-position: bottom;
    background-size: contain;
}

.imagecut {
    position: absolute;
    margin: 0;
    z-index: 100;
    background-position: bottom;
    background-size: contain;
}