.projects {
    height: 100vh;
    width: 100vw;
    color: var(--dark-grey);
    display: grid;
    place-items: start;
    grid-column: 1/2;
    grid-row: 2/3;
    position:relative;
    scroll-snap-align: start;
    overflow-x: hidden;
 
}

@keyframes titlemove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100%);
    }
}

.titlescroll {
    display: flex;
 
}

.projectstitle {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: var(--light-green);
    padding: 0.5rem 1rem;
    border-bottom: 1px solid var(--white);
    border-top: 1px solid var(--white);
    animation: titlemove 15s linear infinite;
}

.projectstitle>h2 {
    font-size: 3.5rem;
}

.projectstitle>span {
    color: var(--dark-purple);
    font-size: 10rem;
}

.projectsdiv {
    width: 100vw;
    max-height: 500px;
    border-radius: 24px;
    display: grid;
    grid-template-columns: 1.3fr 1fr;
    grid-template-rows: 1fr 1fr;
    padding: 2rem 5rem;
    overflow: hidden;
    color: var(--white);
}

.projectsdiv h2 {
    background: linear-gradient(#BB6AE6, #444BA0);
    -webkit-text-fill-color: transparent;
    background-clip: text;
    -webkit-background-clip: text;

}

.gridleft {
    display: flex;
    flex-direction: column;
    gap: 4rem;
    max-width: max(50%, 300px)
}

.gridleftbottom p {
    max-width: max(30vw, 400px);
}

.gridleftbottom em {
    color: var(--dark-purple);
    font-style:normal;
}

.gridleft>p, .gridleftbottom>div>p:first-child {
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.gridleftbottom {
    display: flex;
    align-items: center;
}

.gridleftbottom {
    grid-column: 1/2;
}

.gridleftbottom img {
    width: 35%;
}

.gridright {
    overflow: scroll;
    scrollbar-width: none;
    z-index: 1;
    grid-column: 2/3;
    grid-row: 1/3;
}

.projectswrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    min-height: 1000px;
    padding: 4rem 0;
}

.projectswrapper>p {
    color: var(--white);
    font-weight: 200;
    margin-left: 35%;
}




.projectpicture {
    border-radius: 10px;
    height: 20vw;
    width: 30vw;
    border: 1px solid rgba(0, 0, 0, 0.215);
}

.projectcards h3 {
    margin-top: 0.4rem;
    font-weight: 400;
}

.projectcards>div>div {
    display: flex;
    justify-content: space-between;
}

.projectcards>div {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
    background-color: var(--dark-grey);
}

@media screen and (max-width: 900px) {
    .projects {
        margin: 10vh 0 20vh 0;
    }

    .gridleft {
        gap: 2rem;
    }
    .projectsdiv {
        grid-template-columns: 1fr;
        grid-template-rows: 0.4fr 1fr 0.8fr;
        height: auto;
        min-height: auto;
        max-height: none;
        margin: 0;
        padding: 2rem;
        width: 100vw;
    }

    .projectswrapper {
        flex-direction: row;
        height: auto;
        min-width: auto;
        min-height: 36vh;
        min-height: 36dvh;
        padding: 0;
        min-width: 140vw;
    }

    .projectswrapper>p {
        display: none;
    }

    .gridright {
        grid-row: 2/3;
        grid-column: 1/2;
    }

    .gridleft {
        grid-row: 1/2;
        grid-column: 1/2;
    }

    .gridleftbottom {
        margin-top: 1rem;
        grid-row: 3/4;
        grid-column: 1/2;
    }

    .gridleft>p {
        max-width: 100%;
    }

    .projectpicture {
        height: 100%;
        min-width: 100%;
    }

    .projectcards>div {
        width: 70vw;
    }

}

@media screen and (max-width: 750px) {
    .projectcards>div {
        width: 90vw;
    }

}