@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}


@keyframes disappeardown {
    from {
        margin-top: 0;
    }

    to {
        margin-top: 100vw;
    }
    
}

@keyframes disappearup {
    from {
        margin-top: 0;
    }

    to {
        margin-top: -80vw;
    }
    
}

@keyframes disappearight {
    from {
        margin-left: 0;
    }

    to {
        margin-left: 50vw;
    }
    
}


@keyframes imageshows {
    0% {
        width: 25rem;
        left: 5rem;
        top: 8rem;
    }

    100% {
        width: 5rem;
        top: 0.5rem;
        left: 1rem;
    }
    
}


@keyframes textmovesup {
    0% {
        margin-top: 1rem;
        opacity: 0;
    }

    50% {
        margin-top: 1rem;
        opacity: 0.1;
    }
    
    75% {
        margin-top: 1rem;
        opacity: 0.4;
    }

    100% {
        margin-top: 0;
        opacity: 1;
    }
    
}

.cover {
    font-family: "Montserrat";
    font-size: 4rem;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    background-color: black;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cover img {
    position: absolute;
    left: 5rem; 
    top: 8rem;
    width: 25rem;
    animation: imageshows 1.5s 5s ease-in forwards;
}

.texts {
    position: absolute;
}

@keyframes moveright {
    from {
        left: 31rem;
    }

    to {
        left: 40rem;
    }
    
}


.text0 {

    top: 10rem;
    left: 31rem;
    animation: moveright 1s 3.5s ease-in forwards;
    /*animation: textmovesup 600ms ease-in;*/
}

.text1 {
    top: 10rem;
    left: 39rem;
    animation: disappearup 2200ms 1s ease-in forwards;
    

}

.text2 {
    top: 8rem;
    left: 56rem;
    font-weight: bolder;
    font-size: 6rem;
    animation: disappearight 2000ms 1.8s ease-in forwards;
    /*animation: textmovesup 800ms ease-in;*/
}

.text3 {
    top: 14rem;
    left: 45rem;
    animation: disappearight 2000ms 1.8s ease-in forwards;
    /*animation: textmovesup 1000ms ease-in;*/

}

.text4 {
    top: 14rem;
    left: 64.5rem;
    animation: disappearight 2000ms 1.8s ease-in forwards;
    /*animation: textmovesup 1200ms ease-in;*/
}

.text5 {
    top: 18rem;
    left: 51rem;
    font-weight: bold;
    animation: disappearight 2000ms 1.8s ease-in forwards;
    /*animation: textmovesup 1400ms ease-in;*/
}

.text6 {
    top: 22rem;
    left: 42rem;
    animation: disappeardown 2000ms 2s ease-in forwards;
    /*animation: textmovesup 1600ms ease-in;*/
}

@keyframes center {
    0% {
        margin-top: 0;
    }

    100% {
        margin-top: -12rem;

    }
    
}

.text7 {
    top: 22rem;
    left: 49rem;
    animation: center 1.5s 2.5s ease-in forwards;
    /*animation: textmovesup 1800ms ease-in;*/
}

.text8 {
    top: 22rem;
    left: 63rem;
    animation: center 1.5s 2.5s ease-in forwards;
    /*animation: textmovesup 2000ms ease-in;*/
}

@keyframes centertwo {
    0% {
        top: 26rem;
        left: 54rem;
    }

    50% {
        top: 26rem;
        left: 44rem;
    }

    100% {
        top: 16rem;
        left: 44rem;
    }
    
}

@keyframes blink {
    0% {
        opacity: 0.2;
    }

    20% {
        opacity: 1
    }

    30% {
        opacity: 0.4;
    }

    70% {
        opacity: 1;
    }
    
    90% {
        opacity: 0.6;
    }
    
}

.text9 {
    top: 26rem;
    left: 54rem;
    /*animation: textmovesup 2200ms ease-in;*/
    color: #5E2BFF;
    animation: centertwo 1.5s 3s ease-in forwards, blink 1s 4.5s infinite ease-in forwards;
}


@media screen and (max-width: 750px) {
    .cover img {
        display: none;
    }

    .cover {
        display: flex;
        flex-direction: column;   
     }

     .texts {
        opacity: 0;
        position: static;
        font-size: 2rem;
        animation: textmovesup 2s ease-in forwards;
     }

}




