@font-face {
    font-family: "Montserrat";
    src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Aqua';
    src: url(../../assets/fonts/aqua.ttf);
}

@font-face {
    font-family: 'Sequel';
    src: url(../../assets/fonts/Sequel-Regular.ttf);
}

@font-face {
    font-family: 'Stoked';
    src: url(../../assets/fonts/stoked.ttf);
}

@font-face {
    font-family: 'Ranchers';
    src: url(../../assets/fonts/Ranchers-Regular.ttf);
}

html {
    overflow-x: hidden;
}

.balloon {
    width: 18vw;
    height: 18vw;
    border-radius: 100%;
    background-color: #a521fe;
    position: absolute;
    z-index: 100;
    left: 6vw;
    bottom: 15vh;
    pointer-events: auto;
    cursor:grab;
}



.herobox {
    height: 120vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    box-sizing: border-box;
}

.light {
    color: black;
    background: url(../../assets/images/backgroundherolm.png);
    background-size: cover;
    background-position: bottom;
}

.dark {
    color: white;
    background: url(../../assets/images/backgroundherodm.png);
    background-size: cover;
    background-position: bottom;

}

.herotext {
    display: flex;
    margin-top: 6rem;
    font-family: 'Ranchers';
    gap: 10vw;
    align-items: center;
    margin-bottom: 10%;
    z-index: 101;
}

.textdiv {
    font-size: 7rem;
    line-height: 12rem;
}


@keyframes buttonhovers {
    from {
        background-color: rgba(228, 228, 228, 0.258);
        border: 1px solid white;
    }
    to {
        background-color: rgba(196, 196, 196, 0.717);
        border: 1px solid white;
        color: black;
    }
}



.buttondiv {
    background-color: rgba(228, 228, 228, 0.258);
    border: 1px solid white;
    color: white;   
    height: 15vh;
    align-items: center;
    justify-content: center;
    display: flex;
    border-radius: 10px;
    font-size: 2rem;
    color: white(0, 0, 0);
    font-family: 'Montserrat';
    padding: 1rem;
    letter-spacing: 0.4rem;
    box-sizing: border-box;
    font-weight: 600;
}

 a {
    text-decoration: none;
}

.buttondiv:hover {
    animation: buttonhovers 700ms ease-in forwards;
}




@media screen and (max-width: 750px) {
    .textdiv {
        font-size: 3rem;
        line-height: 4rem;
        margin-top: 15vh;
    }

    .buttondiv {
        width: 40vw;
        font-size: 1.3rem;
        border: none;
    }

    .herotext {
        gap: 2rem;
        font-size: 2.5rem;
        height: 100vh;
        flex-direction: column;
        gap: 6rem;
    }
}

