.hero {
    width: 100vw;
    background-image: url(../../assets/images/Hero/gradient.svg);
    background-size: cover;
    color: var(--white);
    margin-bottom: 5rem;
}

.heroprincipal {
    height: 100vh;
    display: grid;
    place-items: center;
    position: relative;
}

.herotitle {
    display: flex;
    flex-direction: column;

}

.herotitle h1 {
    font-size: max(1.8rem, 6vw);
    display: flex;
    align-items: center;
    gap: 1rem;
}

.herotitle h2 {
    margin-top: -1rem;
    align-self: flex-end;
    font-size: max(1.5rem, 4vw)
}

.herotitle img {
   height: max(3.5rem, 10vw);}

.availability {
    display: flex;
    align-items: center;
    gap: 1rem;
    position: absolute;
    left: 15%;
    bottom: 3rem;
}


.herofooter {
    height: 25vh;
    width: 100vw;
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.herofooter p {
    width: max(20%, 20rem);
}

.herofooter div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.availability img {
    width: 8vh;
}

.herofooter em {
    color: var(--green);
    font-style: normal;
}

@media screen and (max-width: 750px) {
    .herotitle>h1 {
        gap: 0.4rem;
    }
    

    .heroprincipal {
        height: 100dvh;
    }

    .herotitle h2 {
        margin-top: 0.5rem;
    }

    .herofooter {
        flex-direction: column;
        gap: 2.5rem;
        height: auto;
    }

    .scrollbutton {
        width: max(4rem, 15vw);
    }
}