.hero {
    width: 100vw;
    background: var(--black);
    backdrop-filter: grayscale(80%);
    background-size: cover;
    color: var(--white);
    margin-bottom: 5rem;
}

.heroprincipal {
    height: 100vh;
    height: 100dvh;
    width: 100vw;
    display: grid;
    gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(8, 1fr);
    place-items: center;
    position: relative;
}

.heroprincipal>h1 {
    font-family: 'Syncopate Regular';
    font-size: 3rem;
}

.heroprincipal>h1:first-child {
    grid-row: 2/ auto;
    white-space: nowrap;
    grid-column: 1 / 7;
}


.meshcontainer {
    position: relative;
    height: 100%;
    width: 100%;
    grid-column: 4/10;
    grid-row: 3/7;
    border: 1px solid white;
    background-image: url('../../assets/images/Hero/mesh.gif');
    background-position: left;
}

.heroprincipal>h1:nth-child(2){
    grid-row: 7/8;
    grid-column: 6/ 13;
    white-space: nowrap;
}


.heroprincipal>nav>a {
    color: var(--white);
    text-decoration: none;
}

.heroprincipal>nav>a:hover {
    color: var(--light-green);
}

.heroprincipal>nav {
    display: flex;
    flex-direction: column;
    place-self:start;
    gap: 1rem;
    grid-column: 10 / 13;
    grid-row: 3/6;
    font-family: 'Syncopate Regular';
    font-weight: 700;
}






.availability {
    position: absolute;
    left: 15%;
    bottom: 3rem;
}


.availability a {
    display: flex;
    align-items: center;
    gap: 1rem;
    color: var(--white)
}


.herofooter {
    height: 25vh;
    height: 25dvh;
    width: 100vw;
    background-color: var(--black);
    display: flex;
    justify-content: space-around;
    padding: 2rem;
}

.herofooter p {
    width: max(20%, 20rem);
}

.herofooter div{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.availability img {
    width: 8vh;
    width: 8dvh;
}

.herofooter em {
    color: var(--green);
    font-style: normal;
}

@media screen and (max-width: 1200px) {
    .heroprincipal>h1 {
        font-size: 3rem;
    }

    .heroprincipal>h1:nth-child(2) {
        grid-column: 3/13;
    }
}


@media screen and (max-width: 900px) {
    .heroprincipal>h1 {
        font-size: 2.5rem;
    }
    

    .meshcontainer  {
        grid-column: 2/12;
    }

    .heroprincipal>nav {
        position: relative;
        grid-column: 7/9;
        grid-row: 5/7;
        z-index: 100;
    }

    .heroprincipal>nav>a {
        color: black;
    }


}
@media screen and (max-width: 750px) {
    
    .heroprincipal>h1 {
        font-size: 1.4rem;
    }

    .heroprincipal>h1:nth-child(2) {
        grid-column: 1 / 13;
    }

    .herofooter {
        flex-direction: column;
        gap: 2.5rem;
        height: auto;
    }

    .scrollbutton {
        width: max(4rem, 15vw);
    }
}