.about {
    width: 100vw;

}

.aboutdiv {
    background-color: var(--purple);
    width: 80vw;
    margin-left: auto;
    margin-right: auto;
    border-radius: 24px;
    padding: 2rem 3rem;
}

.aboutdiv>div {
    margin: 2rem 0;
    display: flex;
    justify-content: center;
    gap: 3rem;
}

.aboutcard {
    width: max(20vw, 30%);
    background-color: var(--white-bg);
    border-radius: 24px;
    padding: 2vh;
    box-sizing: border-box;
    display: grid;
    grid-template-rows: 1fr 2fr 3fr;
    place-items: center;
    gap: 1rem;
    align-items: center;
    font-size: 1rem;
}

.aboutcard:nth-child(2) {
    background-color: var(--light-green);
}

.aboutcard>img {
    width: 7rem;
}

.aboutcard:last-child>img {
    width: 8rem;
}

.aboutcard:first-child>img {
    width: 5rem;
}

@media screen and (max-width: 900px) {
    .aboutdiv {
        background-color: transparent;
        padding: 2rem;
    }
    .aboutdiv>div {
        flex-direction: column;
        align-items: center;
    }

    .aboutdiv h2 {
        background: linear-gradient(#BB6AE6, #444BA0);
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    .aboutcard {
        width: max(50vw, 30rem)
    }
}

