@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.about {
    height: 60vh;
    position: absolute;
    background-color: red;
    margin: 0;
    z-index: 400;
    bottom: 0;
}

.aboutdescription {
    width: 60%;
    margin-left: 5rem;
    margin-top: 10vh;
    font-size: 3rem;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: left;
    transform: translateY(40%)

}

@media screen and (max-width: 750px) {
    .aboutdescription {
        font-size: 1.5rem;
    }
}


