@font-face {
    font-family: 'Stoked' ;
    src: url(../../assets/fonts/stoked.ttf);
}

@font-face {
    font-family: 'Montserrat' ;
    src: url(../../assets/fonts/Montserrat-VariableFont_wght.ttf);
}

@font-face {
    font-family: 'Aqua';
    src: url(../../assets/fonts/aqua.ttf);
}

.contactcontainer {
    padding-top: 5rem;
    position: relative;
    z-index: 150;
}

.container {
    padding-bottom: 5rem;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    font-family: 'Aqua', 'Montserrat', sans-serif ;
}

.formdiv {
    display: flex;
    width: 100vw;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    font-family: 'Aqua', 'Montserrat';
    position: relative;
}

.formtitle {
    height: 3rem;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    width: 50%;

}

.form input, .form textarea {
    background-color: rgb(243, 243, 243);
    width: 90%;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 20px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.form textarea {
    height: 10rem;
}


.contactcontainer {
    display: flex;
}

.switch {
    position: relative;
    display: inline-block;
    width: 260px;
    height: 100px;
  }


  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #028e00;
    -webkit-transition: .4s;
    transition: .4s;
   border-radius: 50px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 80px;
    width: 80px;
    left: 10px;
    bottom: 10px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
    border-radius: 50%;
  }

  .checked {
    background-color: #ff00f2;
  }
  
  
  .checked:before {
    -webkit-transform: translateX(160px);
    -ms-transform: translateX(160px);
    transform: translateX(160px);
  }

  .switchtext {
    z-index: 2000;
    position: absolute;
    font-size: 60px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    right: 25px;
    top: 19px;
  }

  .textchecked {
    left: 25px;

  }

  .submit {
    width: 10rem;
    padding: 1rem 0;
    font-family: 'Aqua';
    background-color: rgb(255, 255, 255);
    color: black;
    display: grid;
    place-items: center;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 5px;
  }


@media screen and (max-width: 750px) {
    .formdiv {
        margin-top: 7rem;
    }

    .form {
        width: 90vw;
    }
}