
.contactcontainer {
    padding-top: 5rem;
    position: relative;
    z-index: 150;
}

.container {
    padding-bottom: 5rem;
    width: 100vw;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 3rem;
    justify-content: center;
    align-items: center;
    color: white;
}

.formdiv {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    position: relative;
}

.formdiv input {
  width: 10rem;
}


.formcontainer {
  width: 100vw;
  display: flex;
  justify-content: center;
}

.contactdiv {
  align-self: flex-end;
}

.mediabox {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.mediabox a {
  font-size: 1.4rem;
  color: var(--white);
  text-decoration: none;
}

.contactdiv>span {
  font-size: 1.8rem;
  background: linear-gradient(#A8D3F6, var(--dark-purple));
  -webkit-text-fill-color: transparent;
  background-clip: text;
  -webkit-background-clip: text;  
}


.formtitle {
  font-size: 3.5rem;
  letter-spacing: 0.1rem;
   margin: 0;
   padding: 0;
    text-align: center;
}


.form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 50%;

}

.form input, .form textarea {
    background-color: rgb(243, 243, 243);
    width: 45rem;
    height: 2rem;
    padding: 0.5rem;
    border-radius: 5px;
    border: 1px solid black;
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
}

.form>div {
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
}


.form textarea {
    height: 9rem;
}

.submittedform {
  width: 50%;
  text-align: center;
}

.submittedform>h3 {
  font-size: 2rem;
  margin-bottom: 2rem;
}

.submittedform>p {
  margin-bottom: 2rem;
}


.contactcontainer {
    display: flex;
}


  .submit {
    width: 45rem;
    background-color: var(--green);
    padding: 1rem 0;
    color: black;
    display: grid;
    place-items: center;
    font-size: 1rem;
    margin-top: 10px;
    border-radius: 5px;
  }


@media screen and (max-width: 900px) {
    .formdiv {
        margin-top: 7rem;
    }

    .formcontainer {
      flex-direction: column;
      width: 100%;
    }

    .form {
      width: 85%;
    }

    .contactdiv {
      align-self: center;
      margin-top: 5vh;
    }

}