@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-VariableFont_wght.ttf');
}

.header {
    width: 100vw;
    z-index: 1000;
    height: 6rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background 500ms ease-in;


}

circle {
    stroke-dashoffset: 0;
    stroke-width: 6%;
    box-sizing: border-box;
    fill: none;
   
    
    
  }

.circlescroll {
    stroke: rgb(255, 255, 255);
    


}


.logodiv {
    width: 7rem;
    height: 7rem;
    position: absolute;
    top: -0.5rem;
    display: grid;
    place-items: center;
}

#progress {
    z-index: 100;
    position: absolute;
    top: 0;
    

}

.limelogo {
    width: 70%;
    height: 70%;
    position: absolute;
}


.logobox img {
    width: 8rem;
}

.logobox {
    display: flex;
    align-items: center;
}



.menu {
    position: absolute;
    left: 0; 
    right: 0; 
    margin-left: auto; 
    margin-right: auto;
    box-sizing: border-box;
    width: 60%;
    height: 3rem;   
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center;
    border-radius: 25px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;
}

.contactlink {
    border-radius: 4px;
    padding: 0.5rem;
}

.contactdark {
    background-color: white;
    color: black;
}

.contactlink:hover {
    background-color: rgb(110, 43, 226);
    color: white;
}

.contactlight {
    background-color: black;
    color: white;

}

.linklight {
    color: black;
}

.linkdark:hover {
    color: rgb(154, 105, 239);
}

.linklight:hover {
    color: rgb(110, 43, 226);
}

.linkdark {
    color: white;
}

.menu a {
    text-decoration: none;
}

@keyframes mobilemenu {
    from {
        top: -100vh;
        opacity: 0;

    }
    to {
        top: 0;
        opacity: 1;
    }
}




@media screen and (max-width: 750px) {
    .header {
        position: absolute;
    }
    .menu {
        display: none;
    }
    
    .mobilemenu {
        font-family: 'Aqua';
        width: 100vw;
        height: 100vh;
        position: fixed;
        color: rgb(0, 0, 0);
        background-color: rgba(0, 0, 0, 0.797);
        backdrop-filter: blur(10px);
        gap: 8vw;
        font-size: 40px;
        display: flex;
        z-index: 1001;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: mobilemenu 1s ease-in forwards;
        }
    .mobilemenu a {
        text-decoration: none;
    }

    .closebutton {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }


    .limelogo {
        width: 3rem;
        height: 3rem;
        top: 1rem;
        left: 0.5rem;
    }

    .menubox {
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 30000;
    }

    .circleoverlay, .circlescroll, #progress {
        position: fixed;
        top: 0;
        left: 0;
        width: 2.5rem;
        z-index: 30000;
    }

    .circlescroll {
        stroke: rgb(18, 250, 37);
    }
    
}

.menubox div {
    margin-right: 1rem;
    display: flex;
    gap: 1rem;
}

.menubox svg {
    width: 2rem;
}

.hamburgericon {
    width: 2rem;
    display: none;
    z-index: 1000;
}
 
@media screen and (max-width: 750px) {
    .hamburgericon {
        display: block;
       }
    
}



