@font-face {
    font-family: 'Montserrat';
    src: url('../../assets/fonts/Montserrat-VariableFont_wght.ttf');
}

.header {
    width: 100vw;
    z-index: 1000;
    height: 3rem;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    gap: 3rem;
    align-items: center;
    justify-content: center;
}

.header a {
    color: var(--white);
    text-decoration: none;
}

.header em {
    font-style: normal;
    color: transparent;
}

.header a:hover em {
    color: var(--white);
}
circle {
    stroke-dashoffset: 0;
    stroke-width: 6%;
    box-sizing: border-box;
    fill: none;
   
    
    
  }

.circlescroll {
    stroke: var(--green)
}


.logodiv {
    width: 5rem;
    height: 5rem;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0.5rem;
    display: grid;
    place-items: center;
}

#progress {
    z-index: 100;
    position: absolute;
    top: 0;
    

}

.limelogo {
    width: 70%;
    height: 70%;
    position: absolute;
}


.logobox img {
    width: 8rem;
}

.logobox {
    display: flex;
    align-items: center;
}




@keyframes mobilemenu {
    from {
        top: 100vh;
        top: -100dvh;
        opacity: 0;

    }
    to {
        top: 0;
        opacity: 1;
    }
}




@media screen and (max-width: 750px) {
    .header {
        position: absolute;
    }
    .header>a {
        display: none;
    }

    .mobilemenu>.menu>div {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100vw;
        font-size: 3rem;
        font-family: 'Fat Frank';
    }

    .contactlink {
        display: none;
    }

    .logodiv {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        width: 4rem;
        height: 4rem;
        z-index: 500;
    }
    
    .mobilemenu {
        width: 100vw;
        height: 100vh;
        height: 100dvh;
        position: fixed;
        background-color: rgba(0, 0, 0, 0.797);
        backdrop-filter: blur(10px);
        gap: 8vw;
        font-size: 40px;
        display: flex;
        z-index: 1001;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        animation: mobilemenu 1s ease-in forwards;
        }
    .mobilemenu a {
        text-decoration: none;
    }

    .closebutton {
        width: 3rem;
        height: 3rem;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }


    .menubox {
        position: fixed;
        top: 0.5rem;
        right: 0.5rem;
        z-index: 30000;
    }



}

.menubox div {
    margin-right: 1rem;
    display: flex;
    gap: 1rem;
}

.menubox svg {
    width: 2rem;
}

.hamburgericon {
    width: 2rem;
    display: none;
    z-index: 1000;
    filter: invert(90%);
}
 
@media screen and (max-width: 750px) {
    .hamburgericon {
        display: block;
       }
    
}



