@keyframes titlemove {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(calc(-1 * (var(--scroll-width) + 5rem)));
    }
}

.titlescroll {
    display: flex;
    overflow: hidden;
    position: relative;
    border-bottom: 1px solid var(--white);
    border-top: 1px solid var(--white);
    gap: 5rem;
    
}

.projectstitle {
    min-width: var(--scroll-width);
    height: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    color: var(--light-green);
    white-space: nowrap;
    animation: titlemove 15s linear infinite;
}

.projectstitle>h2 {
    text-wrap: nowrap;
    margin: 0;
    font-size: 3rem;
}

.projectstitle>span {
    color: var(--dark-purple);
    font-size: 14rem;
}



