

.homegrid {
    margin-inline: auto;
    position: relative;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-snap-type: y mandatory;
      scroll-snap-stop: always;
    scrollbar-width: none;
}




