
.about {
    position: relative;
    z-index: 99;
    padding-top: 5vh;

}

.about>p {
    font-size: 3rem;
    padding-top: 10vh;
    padding-bottom: 30vh;
    margin-left: 8vw;
    font-family: 'Montserrat';
    font-weight: 500;
    width: 80%;
}

.bento {
    width: 100vw;
    min-height: 150vh;
    display: grid;
    grid-template-columns: 1.5fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1.5fr;
    padding: 2rem 8vw;
    gap: 2rem;
    background-position: bottom;
}

.backgroundpicture {
    position: absolute;
    width: 100%;
    bottom: 0;
    left: 0;
    pointer-events: none;
    z-index: -100;
}

.bentobox {
    padding: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    font-family: 'Aqua', 'Montserrat', sans-serif;
    font-weight: 700;
    font-size: 2rem;
    text-align: center;
    flex-direction: column;
    position: relative;
    
}

.bentoboxp{
    opacity: 0;
    width: 0;
    font-size: 1px;
    font-family: 'Montserrat';
    font-weight: 400;
    text-align: center;
    padding: 1px;
    position: absolute;
    bottom: 40%;
    transform: translateY(40%)

}




@keyframes hoverscale {
    from {
        background: '';
        backdrop-filter: none;
        scale: 1;
        border: none;
        color: ''
    }

    to {
        background: rgba(0, 0, 0, 0.763);
        backdrop-filter: blur(10px);
        scale: 1.05;
        border: 2px solid white;
        color: white;
    }
    
}

@keyframes imgdisappear {
    0% {
        scale: 1;
    }
    100% {
        scale: 0;
    }
}

.bentobox:hover {
    animation: hoverscale 500ms ease-in-out forwards;
}

.bentobox:hover>img {
    animation: imgdisappear 400ms ease-in forwards;
}





@keyframes descriptionappear {
    from {
        opacity: 0;
        width: 0;
        font-size: 1px;
        color: '';
    }
    to {
        opacity: 1;
        width: 20vw;
        font-size: 3vh;
    }
}

.bentobox:hover>.bentoboxp {
    animation: descriptionappear 400ms 500ms ease-in forwards;
}




#box1, #box6 {
    background-color: #FF83FA;
   
}

#box2 {
    background-color: #8000FF;
}

#box3, #box5 {
    background-color: #83D06D;
}

#box4 {
    background-color: #76C5FF;
}

#box1 {
    grid-column: 1/2;
    grid-row: 1/2;
}

#box2 {
    grid-column: 2/3;
    grid-row: 1/3;
}

#box3 {
    grid-column: 3/4;
    grid-row: 1/2;
}

#box4 {
    grid-column: 1/2;
    grid-row: 2/3;
}

#box5 {
    grid-column: 1/3;
    grid-row: 3/4;
}

#box6 {
    grid-column: 3/4;
    grid-row: 2/4;
}

.aboutdescription {
    font-size: 22px;
    font-family: 'Montserrat';
    font-weight: 500;
    line-height: 2rem;
}

.aboutdescription>span:first-child {
    font-size: 2rem;
    color: rgb(128, 0, 255);
    font-family: 'Modak';
    letter-spacing: 0.2rem;
}

.aboutdescription>span:last-child {
    font-family: 'Sequel';
    font-size: 1.8rem;
    color: rgb(246, 255, 0);
    font-weight: 600;
}

@media screen and (max-width: 900px) {
    .bento {
        padding: 1rem;
        gap: 1rem;
    }
    
}

@media screen and (max-width: 750px) {
    .about>p {
        margin-top: 10vh;
        font-size: 2rem;
    }
    .bento {
        padding: 1rem;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        gap: 1rem;
        height: 200vh;
        width: 100vw;
    }


    .bentobox {
        font-size:  1rem;
    }

    .bentobox>img {
        display: none;
    }

    #box1 {
        grid-column: 1/2;
        grid-row: 1/2;
    }
    
    #box2 {
        grid-column: 2/3;
        grid-row: 1/2;
    }

    #box3 {
      display: none;
    }

    #box4 {
        grid-column: 1/2;
        grid-row: 3/4
    }

    #box6 {
        grid-column: 2/3;
        grid-row: 3/4;
    }

    #box5 {
        grid-column: 1/3;
        grid-row: 2/3;
    }

    .aboutdescription {
        font-size: 16px;
    }

    .aboutdescription>span:first-child {
        font-size: 28px;
    }

    .aboutdescription>span:last-child {
        font-size: 28px;
    }

    .bentobox:hover>.bentoboxp {
        animation: none;
    }

    .bentobox:hover>img {
        animation: none;
    
    }
}