@font-face {
    font-family: 'Poppins';
    src: url('../../assets/fonts/Poppins-Regular.ttf');
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}


.cardstack {
    margin-top: 20vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    position: relative;
    box-sizing: border-box;
    background:black;

    
}

.cardcontainer {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0px;
}

 .card {
    width: 100vw;
    font-size: 1.5rem;
    height: 100vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    gap: 1rem;
    box-sizing: border-box;

}


.topcard {
    width: 100%;
    height: 40%;
    border-radius: 15px 15px 0 0;
    display: grid;
    place-items: center;
    opacity: 0.8;
}

@keyframes iconmovement {
    0% {
        scale: 1;
        rotate: 0;
    }

    33% {
        scale: 1.3;
        
    }

    66% {
        scale: 1.3;
        opacity: 1;
    }

    100% {
        scale: 1;
        rotate: 0;
    }
    
}
.topcard img {
    width: 7rem;
}

.cardicons {
    animation: iconmovement 2s infinite ease-in forwards;
}
.textcard {
    margin-bottom: 15%;
}

.title {
    font-family: 'Ranchers';
    font-size: 6rem;

}

.description {
    font-family: 'Poppins';
    
}


@media screen and (max-width: 750px) {
    .title {
        font-size: 2rem;
    }


    
}